<ion-header class="ion-no-border" translucent="true">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text="Atrás" color="primary" mode="ios"></ion-back-button>
  </ion-buttons>
  <ion-title text-capitalize>Ayuda</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>Si eres usuario</h3>
  <p>En la página inicial <label>MOSTRAR QR</label> tienes que introducir tu DNI únicamente la primera vez que entres. 
    Una vez introducido tu código QR será generado automáticamente. Este código es el que tendrás que mostrar en la tienda donde quieras
    que te apliquen el descuento
  </p>
  <p>Si introduces tu DNI pero no estás activo en la aplicación tienes que avisar a Julio o mandar un email a contact&#64;fabrickapp.es 
    junto a tus datos personales. Te avisaremos cuando de demos de alta.
  </p>
  
  <h3>Si eres una tienda</h3>
  <p>Si eres una tienda y te llega un usuario con su código QR para que le realices la oferta oportuna irás a la segunda pantalla 
    <label>LEER QR</label>
    y tendrás que encuadrar el código QR que te muestre el cliente en el cuadro que aparece en tu pantalla una vez haberle dado al botón 
    de <label>ESCANEAR CÓDIGO</label>. Una vez escaneado, te diremos si al usuario le corresponde el descuento o de lo contrario está dado de baja de la aplicación.
  </p>
  <p>¿Si le das al botón de <label>ESCANEAR CÓDIGO</label> y no se te muestra la cámara?</p>
  <p>Esto ocurre cuando has instalado la App y te ha pedido permiso para acceder a la cámara pero tú no se lo has concedido. Ahora le tienes que conceder esos permisos manualmente como te indicamos a continuación</p>
  
  <p><strong>Para iPhone <ion-icon name="logo-apple"></ion-icon></strong></p>
  <ol>
    <li>Abrimos la app Ajustes en nuestro iPhone o iPad.</li>
    <li>Entramos en Privacidad.</li>
    <li>Tocamos en Micrófono o Cámara.</li>
    <li>Activamos o desactivamos las apps que consideremos.</li>
  </ol>

  <p><strong>Para Android <ion-icon name="logo-android"></ion-icon></strong></p>
  <ol>
    <li>En tu dispositivo, abre la aplicación Ajustes.</li>
    <li>Toca Aplicaciones.</li>
    <li>Toca la aplicación que quieres modificar. Si no aparece, toca Ver todas las aplicaciones. A continuación, elige tu aplicación.</li>
    <li>Toca Permisos</li>
    <li>Para cambiar el ajuste de un permiso, tócalo y selecciona Permitir o No permitir y selecciona "Permitir solo si la aplicación está en uso"</li>
  </ol>
  

  <p>Si tienes alguna duda más acerca de cómo usar la App, no dudes en contactarnos en contáctenos en contact&#64;fabrickapp.es.</p>
</ion-content>
