

<ion-content *ngIf="firstTime">

  <swiper-container class="slide-full" pagination="true" pagination-dynamic-bullets="true" >
    <swiper-slide *ngFor="let slide of slides" >
    <ion-grid [fixed]="true">
      <ion-row class="centre">
        <ion-col size="12">
          <ion-text color="medium" class="ion-text-center">
            <h3>{{ slide.titulo }}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="color-background">
        <ion-col>
          <img [src]="slide.img" class="slide-image"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="medium">
            <h4>{{ slide.desc }}</h4>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-button (click)="comenzar()" expand="block" shape="round">
        ¡Empieza!
      </ion-button>
    
    </swiper-slide>
  </swiper-container>

</ion-content>