<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h3>1. Introducción</h3>
  <p>Bienvenido a QR SPORT. Estos Términos y Condiciones rigen su acceso y uso de nuestra aplicación y servicios asociados. Al descargar, acceder o utilizar nuestra aplicación, usted acepta estar sujeto a estos términos.</p>
 
  <h3>2. Definiciones</h3>
  <p><strong>"Aplicación"</strong> se refiere a QR SPORT, incluyendo todas sus características y funcionalidades.</p>
  <p><strong>"Usuario"</strong> se refiere a la persona que accede o utiliza la Aplicación.</p>
  <p><strong>"Contenido"</strong> se refiere a cualquier texto, imagen, video, audio u otro material que se encuentre en la Aplicación.</p>
  
  <h3>3. Licencia de Uso</h3>
  <p>Le otorgamos una licencia limitada, no exclusiva e intransferible para descargar y utilizar la Aplicación en su dispositivo personal de acuerdo con estos términos.</p>
  
  <h3>4. Restricciones de Uso</h3>
  <p>Usted acuerda no:</p>
  <p>Utilizar la Aplicación para fines ilegales o no autorizados.</p>
  <p>Violar los derechos de propiedad intelectual de la Aplicación o de terceros.</p>
  <p>Transmitir virus o cualquier código de naturaleza destructiva.</p>

  <h3>5. Privacidad y Protección de Datos</h3>
  <p>Su privacidad es importante para nosotros. Consulte nuestra Política de Privacidad para entender cómo recopilamos, usamos y protegemos su información personal.</p>

  <h3>6. Modificaciones a la Aplicación</h3>
  <p>Nos reservamos el derecho de modificar o discontinuar, temporal o permanentemente, la Aplicación o cualquier parte de la misma sin previo aviso.</p>

  <h3>7. Limitación de Responsabilidad</h3>
  <p>En ningún caso QR SPORT será responsable por daños indirectos, incidentales, especiales o consecuentes.</p>

  <h3>8. Indemnización</h3>
  <p>Usted acuerda indemnizar y eximir de responsabilidad a [Nombre de la Aplicación] y sus afiliados, oficiales y empleados, de cualquier reclamo o demanda.</p>

  <h3>9. Cambios a los Términos y Condiciones</h3>
  <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Su uso continuado de la Aplicación constituye su aceptación de dichos cambios.</p>

  <h3>10. Ley Aplicable y Jurisdicción</h3>
  <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes de España, y cualquier disputa relacionada con estos Términos estará sujeta a la jurisdicción exclusiva de los tribunales de España.</p>

  <h3>11. Contacto</h3>
  <p>Si tiene alguna pregunta sobre estos Términos y Condiciones, contáctenos en contact&#64;fabrickapp.es.</p>

  <p>Fecha de Última Actualización: 17/01/2024</p>
</ion-content>

