<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Política de Privacidad de QR SPORT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Última actualización: 17/01/2024</p>
  <p>Bienvenido a QR SPORT. Nos comprometemos a proteger su privacidad y a ser transparentes sobre cómo recopilamos, usamos y compartimos su información personal. Esta Política de Privacidad explica nuestras prácticas en relación con la información personal que recopilamos a través de nuestra aplicación.</p>
  <h3>1. Información que Recopilamos</h3>
  <p><strong>a. Información proporcionada por el usuario: </strong>Datos del DNI o NIF</p>
  <p><strong>b. Información recopilada automáticamente: </strong>Al usar QR SPORT se comprueba que si DNI o NIF esté almacenado en nuestros sistemas para poder generar su código QR personalizado así acceder a las ofertas de las tiendas. Estarás guardado en nuestros sistemas si eres socio de la Asociación Anda y o del club de tenis Costa Tropical y has aceptado el uso de tus datos por parte de nosotros cuando te apuntaste al club o asociación.</p>
  <h3>2. Uso de la Información</h3>
  <p>No hacemos uso alguno de su información proporcionada en la App.</p>
  <h3>3. Compartir Información</h3>
  <p>Cuando sea requerido por ley o para responder a procesos legales.</p>
  <h3>4. Seguridad</h3>
  <p>Tomamos medidas razonables para proteger su información personal contra pérdida, robo y uso no autorizado.</p>
  <h3>5. Sus Derechos</h3>
  <p><strong>Usted tiene derecho a:</strong></p>
  <p>a. Acceder, modificar o eliminar su información personal.</p>
  <p>b. Retirar su consentimiento en cualquier momento.</p>
  <p>c. Presentar una queja ante una autoridad de control.</p>
  <h3>6. Cambios a la Política de Privacidad</h3>
  <p>Podemos actualizar nuestra Política de Privacidad periódicamente. Le notificaremos de cualquier cambio importante.</p>
  <h3>7. Contacto</h3>
  <p>Si tiene preguntas o inquietudes sobre esta Política de Privacidad, contáctenos en contact&#64;fabrickapp.es.</p>


</ion-content>
