<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Sobre nosotros</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h3>Jorge Zancada Moreno</h3>
    <p>Viajero y enamorado del tenis al que le encanta la tegnología. De toda esta unión surgio la idea de la creación de esta App.
      Julio, mi profesor de tenis pidió ayuda: qué quería y cómo lo quería para desarrolar esta simple e intuitiva aplicación.  
    </p>
    <p>Cualquier pregunta, no dudes en ponerte en contacto conmigo.</p>
    <p><ion-label color="primary">Email:</ion-label> contact&#64;fabrickapp.es<br>
    <ion-label color="primary">Teléfono:</ion-label> +34 626 804 645</p>
  
    <h3 class="space">Julio Ferrer Victoria</h3>
  </ion-content>
